.cart-container {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 100px;
}

.total-price, .no-items {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #BAE8E8;
}

.total-cost {
    color: #000000;
}

.cart-list .cart-items + .cart-items {
    margin-top: 2rem;
}

.cart-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    background: #272343;
    border-radius: 5px;
    color: white;
    padding: 25px;
}

.delete {
    grid-column: 1 / 2;
}

.title-author {
    grid-column: 2 / 4;
}

.price {
    grid-column: 5 / 6;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #FFD803;
}

.order-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;
    color: #000000;
    background: #FFD803;
    padding: 10px 40px 20px 40px;
    border-radius: 5px;
}