.song-list .list-items + .list-items {
    margin-top: 2rem;
}

.list-items {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    background: #272343;
    border-radius: 5px;
    color: white;
    padding: 50px;
}

.favorite {
    color: #FFD803;
}

.cart-fill {
    color: #FFD803;
}

.cart-line {
    color: #BAE8E8;
}

.heart-icon-line {
    grid-column: 1/ 2;
}

.heading {
    grid-column: 2 / 5;
}

.upvotes {
    grid-column: 5 / 6;
    text-align: center;
}

.downvotes {
    grid-column: 6 / 7;
    text-align: center;
}

.cart-icon-line {
    grid-column: 7 / 8;
    text-align: center;
}

.song-lyrics {
    grid-column: 8 / 9;
    text-align: end;
}

.arrowdown, .arrowup, .song-lyrics {
    color: white;
}