.lyrics-detail {
    background: #272343;
    border-radius: 5px;
    color: white;
    padding: 50px;
    width: 616px;
}

.lyrics-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;
    color: #000000;
    padding-top: 50px;
    padding-bottom: 40px;
}

.lyrics {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 38px;
}

.lyrics-lyrics {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}